<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
    <meta charset="UTF-8">
    <title>
       {% block title %}
            Rock Me Socks: DJ service from Spotify
       {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'rockmysocks/css/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'rms_homepage'%}">Rock My Socks</a></h1>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>